---
import DocumentLayout from "../components/layouts/document-layout.astro";
---

<DocumentLayout title="Condiciones Generales del Sitio">
    <main>
        <article>
            <div
                class="container
        m-auto
        p-4
        [&>h1]:mb-4
        [&>h2]:mb-4
        [&>p]:mb-4
        [&>h1]:text-2xl
        [&>h2]:text-xl"
            >
                <h1>Condiciones Generales del Sitio:</h1>

                <h2>1. Propósito del Sitio:</h2>
                <p>
                    Este sitio web ha sido creado de manera gratuita como parte
                    de la campaña "Rifa a beneficio Chico" con el objetivo de
                    recaudar fondos que serán utilizados para el tratamiento de
                    "Chico". La campaña está siendo gestionada por Dennis
                    Mancilla (+56 9 6318 7228), quien será responsable de
                    administrar los fondos recaudados, gestionar los gastos
                    relacionados y asignar a los ganadores de los premios.
                </p>

                <h2>2. Uso de los Fondos Recaudados:</h2>
                <p>
                    Todos los fondos recaudados a través de este sitio web serán
                    utilizados exclusivamente para cubrir los gastos
                    relacionados con el tratamiento de "Chico". Nos
                    comprometemos a garantizar que los fondos se utilicen de
                    manera efectiva y transparente para este propósito.
                </p>

                <h2>3. Uso de la Información Personal:</h2>
                <p>
                    Cualquier información personal recopilada durante el proceso
                    de registro y participación en esta campaña será utilizada
                    únicamente con el propósito de entregar los premios
                    ofrecidos en la campaña. Respetamos la privacidad de los
                    usuarios y nos comprometemos a proteger sus datos.
                </p>

                <h2>4. Donación de Premios:</h2>
                <p>
                    Todos los premios ofrecidos en esta campaña han sido donados
                    con el fin de incentivar el apoyo a la causa. Agradecemos
                    sinceramente a quienes han contribuido con estas donaciones.
                </p>

                <h2>5. Almacenamiento de Datos:</h2>
                <p>
                    La información personal recopilada se almacenará en
                    servidores de Google, utilizando la plataforma Google Cloud.
                    Todos los datos se guardarán de manera segura y se aplicarán
                    medidas de encriptación para proteger la información. Para
                    obtener más información sobre la política de privacidad de
                    Google Cloud, puede visitar el siguiente enlace: Política de
                    Privacidad de Google Cloud <a
                        href="https://firebase.google.com/support/privacy"
                        >https://firebase.google.com/support/privacy</a
                    >.
                </p>

                <h2>6. Uso de MercadoPago:</h2>
                <p>
                    Este sitio web ha sido integrado con los servicios de
                    MercadoPago (https://www.mercadopago.cl/). Cualquier gasto
                    relacionado con el uso de esta plataforma será
                    responsabilidad de Jonathan Delgado (+56 9 4733 1064), el
                    administrador del sitio.
                </p>

                <h2>7. Aceptación de Condiciones:</h2>
                <p>
                    El uso de este sitio web implica la aceptación de estas
                    condiciones generales. Si no está de acuerdo con alguna de
                    las condiciones establecidas, le recomendamos que se
                    abstenga de utilizar el sitio.
                </p>

                <h2>8. Contacto:</h2>
                <p>
                    Si tiene alguna pregunta o inquietud con respecto a estas
                    condiciones generales o la campaña en general, no dude en
                    ponerse en contacto con Dennis Mancilla (+56 9 6318 7228) a
                    través de la información de contacto proporcionada en el
                    sitio web.
                </p>

                <p>
                    Agradecemos su apoyo a la campaña "Rifa a beneficio Chico" y
                    su contribución para ayudar en el tratamiento de "Chico".
                </p>
            </div>
        </article>
    </main>
</DocumentLayout>
