---
import DocumentLayout from "../components/layouts/document-layout.astro";
import PhotoChico from "../../public/photo_chico.jpeg";
import { Image } from "astro:assets";
import WhatsappSvgrepoComSvg from "../components/icons/whatsapp-svgrepo-com.svg.astro";
---

<script>
    import { logEvent } from "firebase/analytics";
    import { analytics } from "../lib/firebase";
    logEvent(analytics, "page_view");
</script>

<DocumentLayout title="Rifa a beneficio Chico 🐕">
    <div
        class="container m-auto p-4
        [&>h1]:text-2xl
        [&>h1]:text-bold
        [&>h1]:pb-4
        [&>p]:pb-4
        space-y-0"
    >
        <h1>Rifa a beneficio Chico 🐕</h1>

        <div class="flex justify-center">
            <Image src={PhotoChico} alt="Chico en la playa" width={300} />
        </div>

        <div
            class="pb-4 pt-2 flex justify-center sticky top-0 bg-white bg-opacity-80 backdrop-blur-sm space-x-4"
        >
            <a
                class="px-4 py-2 inline-block rounded bg-blue-400 text-white shadow"
                href="/choice"
            >
                Ir a donar
            </a>
            <a
                class="px-4 py-2 inline-flex rounded bg-green-400 text-white shadow
                    space-x-2
                    [&>span]:flex-1
                    [&>svg]:flex-none
                    [&>svg]:fill-white
                    [&>svg]:w-6"
                href="https://wa.me/56963187228"
                target="_blank"
            >
                <span>Ir a donar directo</span>
                <WhatsappSvgrepoComSvg />
            </a>
        </div>

        <p>Querida comunidad,</p>

        <p>
            Hoy les queremos contar la historia de Chico, un fiel amigo de
            cuatro patas que ha sido parte de nuestras vidas durante los últimos
            3 años. A lo largo de los años, Chico nos ha brindado amor
            incondicional, alegría y compañía, y ahora es nuestro turno de estar
            allí para él en su momento de necesidad.
        </p>

        <p>
            Chico ha sido diagnosticado con cáncer testicular, una condición que
            afecta su calidad de vida y le causa dolor. La buena noticia es que
            una operación puede eliminar este cáncer y brindarle una vida más
            cómoda y feliz. Sin embargo, enfrentamos un desafío financiero para
            cubrir el costo de esta cirugía vital.
        </p>

        <p>
            El valor por número de la rifa es de 3000 pesos, y estamos buscando
            recaudar un total de 600,000 pesos para financiar la operación de
            Chico. Sabemos que es un objetivo ambicioso, pero con la ayuda de
            nuestra comunidad, creemos que podemos lograrlo.
        </p>

        <p>
            Al comprar un número de la rifa, no solo tienes la oportunidad de
            ganar emocionantes premios, como cajas de mercadería básica, un
            reloj Huawei Band 6 reacondicionado, un juego de sábanas de dos
            plazas, o incluso un Loco con diseño personalizado de alta
            durabilidad para exteriores, sino que también estarás contribuyendo
            directamente a la salud y felicidad de Chico.
        </p>

        <p>
            Para brindarte tranquilidad, te mantendremos informado sobre nuestro
            progreso a través de WhatsApp, compartiendo actualizaciones sobre el
            estado de Chico y el proceso de recaudación de fondos.
        </p>

        <p>
            Por favor, únete a nosotros en esta noble causa. Tu apoyo es
            esencial para salvar la vida de Chico y permitirle disfrutar de sus
            años dorados en plenitud. Juntos, podemos hacer la diferencia y
            mostrar cuánto valoramos a nuestros fieles amigos peludos.
        </p>

        <p>
            Para comprar un número de la rifa o hacer una donación directa,
            comunícate con nosotros <a
                class="inline-flex
                space-x-1
                [&>span]:flex-1
                [&>svg]:flex-none
                [&>svg]:fill-green-400
                [&>svg]:w-4"
                href="https://wa.me/56963187228"
                target="_blank"
            >
                <span>Ir a donar directo</span>
                <WhatsappSvgrepoComSvg />
            </a>. ¡Cada pequeña contribución nos acerca un paso más a nuestro
            objetivo!
        </p>

        <p>
            Gracias por ser parte de esta historia de amor y esperanza. Juntos,
            podemos darle a Chico la oportunidad de una vida mejor y más
            saludable.
        </p>

        <p>Con gratitud,</p>
        <p>Dennis Mancilla y el equipo de apoyo a Chico 🐾</p>
    </div>
</DocumentLayout>
